{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Órdenes de Producción</h1>
    <a href="{% url 'manufacturing_crear_orden' %}" class="btn">Crear Orden</a>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha Inicio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.producto.nombre }}</td>
                    <td>{{ orden.cantidad }}</td>
                    <td>{{ orden.fecha_inicio }}</td>
                    <td>{{ orden.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}