{% extends 'base.html' %}
{% block content %}
<div class="coche-config-container">
    <div class="contact-container">
        <h1>Contacto</h1>
        <p>Dirección: Calle Ficticia 123, Ciudad Ejemplo</p>
        <p>Email: <a href="mailto:info@sag.com">info@sag.com</a></p>
        <p>Teléfono: <a href="tel:+34123456789">+34 123 456 789</a></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509371!2d144.9537353153167!3d-37.81627927975146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0x5045675218ce7e33!2sVictoria%20Harbour%20Promenade%2C%20Docklands%20VIC%203008%2C%20Australia!5e0!3m2!1sen!2sus!4v1698765432109!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>    
    </div>
{% endblock %}