{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Páginas del Website</h1>
    <a href="{% url 'website_crear_pagina' %}" class="btn">Crear Página</a>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Fecha</th>
                <th>Publicada</th>
            </tr>
        </thead>
        <tbody>
            {% for pagina in paginas %}
                <tr>
                    <td>{{ pagina.titulo }}</td>
                    <td>{{ pagina.fecha }}</td>
                    <td>{{ pagina.publicada|yesno:"Sí,No" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}