{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Pedidos</h1>
    <a href="{% url 'sales_crear_pedido' %}" class="btn">Crear Pedido</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.cliente.nombre }}</td>
                    <td>${{ pedido.total }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td><a href="{% url 'sales_agregar_item' pedido.id %}">Añadir Ítem</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}