{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Compras</h1>
    <a href="{% url 'purchase_crear_compra' %}" class="btn">Crear Compra</a>
    <table>
        <thead>
            <tr>
                <th>Coche</th>
                <th>Cliente</th>
                <th>Precio Total</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.coche.nombre }}</td>
                    <td>{{ compra.cliente.nombre }}</td>
                    <td>${{ compra.precio_total }}</td>
                    <td>{{ compra.fecha|default:"Sin fecha" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}