{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Empleados</h1>
    <a href="{% url 'hr_crear_empleado' %}" class="btn">Crear Empleado</a>
    <table class="data-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Salario</th>
                <th>Fecha Contratación</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.cargo }}</td>
                    <td>${{ empleado.salario }}</td>
                    <td>{{ empleado.fecha_contratacion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}