{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body text-center">
            <h2 class="card-title text-success mb-4">¡Pago Exitoso!</h2>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5><span class="dropdown-item-text" style="color: #6586a7;">Detalles del Pedido</span></h5>
                        </div>
                        <div class="card-body">
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Coche:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ coche.nombre }}</span></p>
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Número de Pedido:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ numero_pedido }}</span></p>
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Precio Total:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ precio_total|floatformat:2 }}€</span></p>
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Cliente:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ nombre_completo }}</span></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5><span class="dropdown-item-text" style="color: #6586a7;">Estado de la Producción</span></h5>
                        </div>
                        <div class="card-body">
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Orden de Fabricación:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ orden_fabricacion.numero_orden }}</span></p>
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Estado:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ orden_fabricacion.get_estado_display }}</span></p>
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Orden de Entrega:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ orden_entrega.numero_orden }}</span></p>
                            <p><strong><span class="dropdown-item-text" style="color: #6586a7;">Estado:</span></strong> <span class="dropdown-item-text" style="color: #6586a7;">{{ orden_entrega.get_estado_display }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="mt-4">
                <a href="{% url 'website:index' %}" class="btn btn-primary">Volver al Inicio</a>
                <a href="{% url 'website:perfil_usuario' %}" class="btn btn-info">Ver Mi Perfil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
